body{
  font-family: Roboto;
  font-weight: 400;
  background-color: #0D1117;
}


.container{
  max-width: 1050px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

span{
  display: inline-block;
}

ul{
  list-style: none;
}

